#!/bin/bash
# by William Hofferbert
#
# Default package list for use with iso-rebuild
#
# You can create your own arbitrary groups of packages in this configuration under the
# USER PACKAGE GROUPS section, and then add them to the appropriate sections under
# the ISO-REBUILD PACKAGE GROUPS section toward the bottom.
#

###
### USER PACKAGE GROUPS
###

# stuff for functionaliy
system_req="
openssh-server
davmail
imagemagick
netcat-openbsd
tree
rar
unrar
p7zip-full
locate
xtrlock
isolinux
squashfs-tools
build-essential
debootstrap
syslinux-utils
cabextract
socat
ncurses-term
catdoc
screen
arandr
wine
winetricks
hexedit
aptitude
docutils-common
docutils-doc
icu-devtools
ieee-data
lm-sensors
ttf-mscorefonts-installer
mcelog"

# i386 java compatability stuff 
ff_and_java_pkgs="
xterm
libpangox-1.0-0:i386
libpangoxft-1.0-0:i386
libxft2:i386
libxmu6:i386
libxv1:i386
curl
debconf-utils
dkms
libgtk2.0-0:i386
libasound2:i386
libgcj16-awt:i386
lib32z1
libc6-i386
expect"

# editors
editors="
vim
vim-gtk
pluma
gedit
mousepad
emacs"

# random extras, sometimes useful
extras="
xfce4
thunar-archive-plugin
thunar-media-tags-plugin
tumbler-plugins-extra
xfce4-goodies
xfce4-power-manager
gtk3-engines-xfce
xfwm4-themes
xsensors
xscreensaver
xscreensaver-gl-extra
xscreensaver-data-extra
gimp
conky
conky-std
gedit
gedit-common
gedit-plugins

mariadb-client
ffmpeg
gettext
keyutils
finger
compizconfig-settings-manager
sqlite
sqlite3"

# programs useful for support
support_utils="
wireshark
evolution
ack-grep
clusterssh
dnsutils
traceroute
tomboy
gdb
oathtool
ipcalc
ipv6calc
netcat-openbsd
swaks
terminator
heirloom-mailx
guake
vinagre
xclip
rdesktop
autokey-gtk
opendkim-tools
spfquery
spf-tools-perl"

# tools for system monitoring
sys_mon_tools="
iotop
iftop
smartmontools
landscape-common
sysstat
htop
isag"

# extras for programming things
programming_stuff="
python-pip
python3-pip"

# browsers and plugins
browsers="
firefox
icedtea-plugin
chromium-browser
google-chrome-stable
midori"

#virtualbox
virtualbox="
virtualbox 
virtualbox-dkms"

# vm guest options
vm_guest_installs="
virtualbox-guest-additions-iso
xe-guest-utilities"

# VM guest package removals
vm_guest_removes=""

# problem packages
problem_packages=""










###
### ISO-REBUILD PACKAGE GROUPS
###

#
# Removal Packages
#

PRERM_PKGS=""
REMOVE_PKGS="$problem_packages"
POSTRM_PKGS=""

POST_UPGRADE_PRERM_PKGS=""
POST_UPGRADE_REMOVE_PKGS=""
POST_UPGRADE_POSTRM_PKGS=""


#
# Install Packages
#

PREINSTALL_PKGS="$sys_libs $system_req"
INSTALL_PKGS="
$ff_and_java_pkgs 
$browsers 
$editors 
$extras 
$support_utils 
$sys_mon_tools 
$programming_stuff"
POSTINSTALL_PKGS=""

POST_UPGRADE_PREINSTALL_PKGS=""
POST_UPGRADE_INSTALL_PKGS="$virtualbox"
POST_UPGRADE_POSTINSTALL_PKGS=""
#
#
# VM Packages
#

VM_PRERM_PKGS=""
VM_REMOVE_PKGS="$vm_guest_removes"
VM_POSTRM_PKGS=""

VM_PREINSTALL_PKGS=""
VM_INSTALL_PKGS="$vm_guest_installs"
VM_POSTINSTALL_PKGS=""
VM_TESTING_PKGS=""

# testing packages
TESTING_PKGS=""


